.terms-wrapper{
    position: absolute;
    bottom: 30px;
    left:7.2vw;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.terms-text{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.terms-text-abs{
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.bubble2{
    position:absolute;
    bottom: -30px;
    left: 50%;
    width: 25vw;
    z-index: -1;
}